.navigation {
    grid-area: navigation;
    background-color: teal;
    padding: 20px;
}

.item a {
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
}

.item a.active {
    color: magenta;
}